<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= link_to date.day, events_path(date: date) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to "Add an event", new_event_path %>
  </div>
</div>
